.background {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // z-index: -2;
  background-position: center top;
  padding-top: 160px;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 140px;
  }
  @media screen and (min-width: $bp-desktop) {
    padding-top: 120px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 180px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 200px;
  }
}
