.aboutus-section {
  margin-bottom: 104px;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 176px;
    }
  }
  &__content {
    max-width: 710px;
  }
  &__title {
    max-width: 264px;
    line-height: 1.2;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
      max-width: 502px;
    }
  }
  &__texts {
    line-height: 1.7;
  }

  &__text {
    margin-bottom: 40px;
  }
  &__text {
    &--limited {
      max-width: 580px;
    }
  }

  &__images {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      position: relative;
    }
  }
  &__photo {
    border-radius: 50%;
    width: 327px;
    height: 328px;

    &--second {
      margin-top: 40px;
      margin-left: 164px;
    }
  }

  &__star {
    &--one {
      @include star-one;
      top: 366px;
      left: 120px;
    }

    &--two {
      @include star-two;
      top: 32px;
      left: 442px;
    }

    &--three {
      @include star-three;
      top: 270px;
      left: 472px;
    }
  }
}
