.contacts-section {
  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 102px;
  }
  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 32px;
      align-items: stretch;
      justify-content: center;
    }
  }
  &__button {
    display: block;
    margin: 0 auto;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    margin-bottom: 8px;
    &__:hover {
      background-color: transparent;
      color: var(--beauty-landing-2-background);
    }
  }

  &__map {
    flex-shrink: 0;
    height: 232px;
    width: 100vw;
    margin: 0 -24px;
    border: none;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
      width: 320px;
      height: 500px;
      border-radius: 32px;
    }
    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 500px;
      border-radius: 32px;
    }
  }

  &__form-field {
    margin-bottom: 16px;
  }
}
