.contacts-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
.contacts-section {
  margin-bottom: 102px;
}
.form {
  font-weight: 600;
}
.contact-form {
  max-width: 422px;
  width: 100%;
  height: 482px;
  padding: 48px 56px;
  /* margin: o auto; */
  border-radius: 32px;
  background-color: var(--beauty-landing-2-c1);
  background-image: url(../images/footer-background.png);
}

.contacts-text {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--beauty-landing-2-background);
}
.form-input {
  font-weight: 400;
  font-size: 13px;
  color: var(--beauty-landing-2-background);
  padding: 18px 32px;
}
.visibility-hidden {
  position: absolute;
  left: -9999px;
}
