.contacts-section {
  margin-bottom: 102px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__button {
    display: block;
    margin: 0 auto;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    margin-bottom: 8px;
    &__:hover {
      background-color: transparent;
      color: var(--beauty-landing-2-background);
    }
  }
  &__map {
    height: 232px;
    margin: 0 -24px;
    // flex-shrink: 0;
    border: none;
    border-radius: 32px;
    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
    }
    @media screen and (min-width: $bp-desktop) {
      margin: auto;
      width: 605px;
      height: 481px;
    }
  }
  &__form-field {
    margin-bottom: 16px;
  }
}
