.hero-section {
  padding: 124px 0;
  background-image: url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media screen and (min-width: $bp-desktop) {
    padding: 272px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-section-background@2x.jpg);
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $bp-desktop) {
      align-items: flex-start;
      margin-left: 106px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }
  &__title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: var(--beauty-landing-2-s2);
    margin-bottom: 32px;
    max-width: 330px;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    display: inline;

    @media screen and (min-width: $bp-desktop) {
      font-size: 140px;
      max-width: 530px;
      margin-bottom: 40px;
      line-height: 0.8;
      white-space: normal;
      display: block;
      text-align: left;
    }
  }
  &__paragraf {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.6;
    text-align: center;
    max-width: 240px;
    color: var(--beauty-landing-2-c3);

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      max-width: 238px;
      width: 100%;
    }
  }
}
