.hero-section {
  padding: 124px 0;
  background-image: url(/images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media screen and (min-width: $bp-tablet) {
    padding: 272px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/hero-section-background@2x.jpg);
  }
  &__container {
    margin-left: 106px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 16px;
  }
  &__title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 0.8;
    color: var(--beauty-landing-2-s2);
    margin-bottom: 40px;
    max-width: 530px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      line-height: 0.8;
    }
  }
  &__paragraf {
    font-size: 12px;
    max-width: 238px;
    width: 100%;
    text-align: center;
  }
}
