.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--beauty-landing-2-background);
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 2;

  &.is-open {
    transform: translateX(100%);
  }

  &__btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--beauty-landing-2-c1);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    color: var(--beauty-landing-2-c1);
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      color: var(--beauty-landing-2-s2);
    }
  }
  &__social-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
  }
  &__social-icon {
    fill: var(--beauty-landing-2-c1);
  }
}
