.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  max-width: 732px;
  max-height: 682px;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  padding: 48px;
  background: var(--beauty-landing-2-c1);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--beauty-landing-2-background);
  overflow-y: auto;
  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
  }
  &__btn-close {
    position: absolute;
    right: 42px;
    top: 42px;
  }
  &__coll-title {
    font-family: Play, sans-serif;
    font-size: 64px;
    font-weight: 700;
    max-width: 440px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
  }
  &__coll-text {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    width: 100%;
    max-width: 280px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
    color: var(--beauty-landing-2-background);
  }
  &__accent {
    color: var(--beauty-landing-2-s2);
  }
  &__form-field {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
  }
  &__button {
    display: block;
    margin: 0 auto;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    margin-bottom: 8px;
    &:hover {
      background-color: transparent;
      color: var(--beauty-landing-2-background);
    }
  }
}
