.ourprocedures-section {
  &__title {
    margin-bottom: 32px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 64px;
    }
  }
  &__list {
    margin-bottom: 32px;
  }
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__container {
    overflow: hidden;
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }
}
