.section-title {
  color: var(--beauty-landing-2-c1);
  font-family: 'play';
  font-weight: 500;
  font-size: 32px;
  @media screen and (min-width: $bp-tablet) {
    font-weight: 700;
    font-size: 64px;
  }
}
.section-title .accent {
  color: var(--beauty-landing-2-s2);
}
